*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS',  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#testimonial{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.testimonial-row{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #efefef;
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;  
}
.user img{
    width: 70px;
    margin-right: 20px;
    border-radius: 7px;
}
.user-info .fa{
    margin-left: 10px;
    color: black;
    font-size: 20px;
}   
.user-info small{
    color: grey;

}
.testimonial-col:hover{
    transform: translatey(7px);

}
@media screen and (max-width: 770px){
    .testimonial-col{
        flex-basis: 100%;
    }
}
/*footer*/

#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa,.footer-right .fa{
    font-size: 20px;
    color: #000;
    margin: 10px;
}
.footer-img{
    max-width: 300px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}
.social-links{
    text-align: center;
}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #000;
    margin: 30px 5px 0;
    cursor: pointer;
    transition: .5s;
}
.social-links .fa:hover{
    background: #000;
    color: white;
    transform: translateY(-7px);
}
@media screen and (max-width: 770px){
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;     
    }
    .footer-img{
        top: 45%;
    }
}